.Navbar {
  background-color: #94d2e2 

}

.Navbar ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
  
}
.First-Sec {
  margin-left: 574px;
  margin-top: 250px;
  margin-bottom: 400px
}
.Second-Sec {
  margin-left: 680px;
  margin-top: 250px;
  margin-bottom: 690px
}
